footer {
    border-top: 1px solid #e5eaea;
    padding: 30px 0;
    text-align: center;
    width: 100%;
}
footer ul {
    display: flex;
    justify-content: space-between;
}
footer ul a {
    color: #1b1c1c;
}
footer nav {
    border-bottom: 1px solid #d2d7d7;
    padding: 10px;
}
.footer-info {
    padding: 20px;
    text-align: left;
}
.footer-info p {
    color: #aab2b1;
    font-size: 0.8rem;
}