.project-card {
    border: 1px solid rgb(210, 215, 215);
    border-radius: 5px;
}
.project-image {
    width: 100%;
}
.project-description {
    padding: 10px;
    height: 200px;
    position: relative;
}
.sub-title {
    color: #afb2c6;
    font-size: 0.8rem;
}
.title {
    color: #1b1c1c;
    font-size: 1rem;
    font-weight: normal;
}
.status {    
    font-weight: bold;
    bottom: 0;
    position: absolute;
    width: 100%;
    left: 0;
    border-top: 1px solid #f0f3f3;
    font-size: 0.9rem;
}
.status p {
    padding: 10px;
}
.recruiting {
   color: #4fc88e;
}
.proceeding {
    color: #fe873c;
}
.end {
    color: #bdbab6;
}